* {
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background-color: rgb(8, 33, 41);
    width: 100%;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    background: rgb(8, 33, 41);
    overflow-x: clip;
}

#second_body {
    max-width: 1681px;

    display: flex;
    flex-direction: column;
    justify-self: center;
}

#content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 20px;
    padding-inline: 81px;
    background-color: rgb(5, 23, 30);
    padding-top: 50px;
}

.card {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    background-color: rgb(9, 34, 42);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}

.pkm-name-id {
    display: flex;
    justify-content: center;
}

.pkm-name {
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(8, 33, 41);
    margin-top: 5px;
    border: solid 1px rgb(21, 77, 95);
    border-radius: 5px;
}

#id {
    position: absolute;
    left: 10px;
    color: white;
}

.pkm-name-id-overlay-card {
    color: white;
    display: block;
}

.pkm-name-overlay-card {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.pkm-id-overlay-card {
    position: relative;
    left: 10px;
}

#name {
    font-variant: small-caps;
    color: aliceblue;
}

#pkm-img-container {
    display: flex;
    justify-content: center;
    height: 250px;
}

.pkm-imgs {
    height: 125px;
    width: 125px;
    transition: 500ms linear;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.8));
    align-self: center;
}

.pkm-imgs:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.8));
}

#pkm-atrb {
    display: flex;
    justify-content: space-around;
    background-color: rgb(8, 33, 41);
    padding-block: 12px;
    border-radius: 5px;
    border: solid 1px rgb(21, 77, 95);
}

footer {
    height: 200px;
    background: black;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage {
    width: 265px;
    height: 265px;
    z-index: 1001;
}

.footerImage {
    min-width: 260px;
    width: 800px;
    height: 140px;
}

#overlay {
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.spinner-overlay{
height: calc(100vh - 350px);
/* display: none; */
}

#overlay-content-container {
    width: 100%;
    max-width: 470px;
    padding-inline: 20px;
}

.card-overlay {
    margin-top: 100px;
    height: 600px;
}

.pkm-scale {
    transform: scale(2.0);
    align-self: center;
    filter: drop-shadow(20px 16px 1px rgba(0, 0, 0, 0.8));
    transition: 1300ms ease-out;
}

.pkm-scale-start {
    transform: scale(1.5);
    align-self: center;
    filter: drop-shadow(20px 16px 1px rgba(0, 0, 0, 0.8));
    transition: 1300ms ease-out;
}

.no-scale {
    transform: scale(2.5);
    filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.8));
    transition: 200ms linear;
}

.h-600 {
    height: 660px;
}


.badge {
    width: 100%;
}

.d-none {
    display: none;
}

p {
    padding-inline: 20px;
    padding-top: 10px;
    color: aliceblue;
    font-weight: bold;
}

.evo-container {
    display: flex;
}

.evo-img {
    height: 95px;
    width: 95px;
    transition: 500ms linear;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.8));
}

.evo-img:hover {
    transform: scale(1.2);
}