* {
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background-color: rgb(8, 33, 41);
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(5, 23, 30, 0.1);
    box-shadow: 0 0px 102px rgba(0, 0, 0, 0.2);
}

.input-container {
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    position: absolute;
    z-index: 2;
}

.input {
    width: 150px;
    height: 20px;
    padding-left: 5px;
}

body {
    height: 100vh;
    background: rgb(8, 33, 41);
    overflow-x: clip;
}

#second_body {
    max-width: 1681px;
    min-height: calc(100vh - 420px);
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 20px;
    padding-inline: 81px;
    padding-block: 30px;
    background-color: rgb(5, 23, 30);
    padding-top: 50px;
    z-index: 0;
}

.position-absolute {
    position: absolute;
    bottom: 0px;
}

.position-relative {
    position: relative;
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    background-color: rgb(9, 34, 42);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}

.pkm-name-id {
    display: flex;
    justify-content: center;
}

.pkm-name {
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(8, 33, 41);
    margin-top: 5px;
    border: solid 1px rgb(21, 77, 95);
    border-radius: 5px;
}

#id {
    position: absolute;
    left: 10px;
    color: white;
}

.pkm-name-id-overlay-card {
    color: white;
    display: block;
}

.pkm-name-overlay-card {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.pkm-id-overlay-card {
    position: relative;
    left: 10px;
}

#name {
    font-variant: small-caps;
    color: aliceblue;
}

#pkm-img-container {
    display: flex;
    justify-content: center;
    height: 250px;
}

.pkm-imgs {
    height: 115px;
    width: 115px;
    transition: 500ms linear;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.8));
    align-self: center;
}

.pkm-imgs:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.8));
}

#pkm-atrb {
    display: flex;
    justify-content: space-around;
    background-color: rgb(8, 33, 41);
    padding-block: 12px;
    border-radius: 5px;
    border: solid 1px rgb(21, 77, 95);
}

.footer {
    height: 200px;
    background: black;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage {
    width: 265px;
    height: 265px;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.footerImage {
    min-width: 260px;
    width: 800px;
    height: 140px;
}

#overlay {
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.spinner-overlay {
    height: calc(100vh - 458px);
}

#overlay-content-container {
    width: 100%;
    max-width: 470px;
    padding-inline: 20px;
}

.card-overlay {
    margin-top: 100px;
    height: 600px;
}

.pkm-scale {
    transform: scale(2.0);
    align-self: self-start;
    margin-top: 31px;
    filter: drop-shadow(20px 16px 1px rgba(0, 0, 0, 0.8));
    transition: 1300ms ease-out;
}

.pkm-scale-start {
    transform: scale(1.5);
    align-self: center;
    filter: drop-shadow(20px 16px 1px rgba(0, 0, 0, 0.8));
    transition: 1300ms ease-out;
}

.no-scale {
    transform: scale(2.5);
    filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.8));
    transition: 200ms linear;
}

.h-600 {
    height: 660px;
}

.badge {
    width: 100%;
}

.d-none {
    display: none !important;
}

p {
    padding-inline: 20px;
    padding-top: 10px;
    color: aliceblue;
    font-weight: bold;
}

.evo-container {
    display: flex;
}

.evo-img {
    height: 95px;
    width: 95px;
    transition: 500ms linear;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.8));
}

.evo-img:hover {
    transform: scale(1.2);
}

.btn-left {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    height: 40px;
    margin-top: 206px;
    margin-right: 20px;
}

.btn-left:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.arrow-left {
    transform: rotate(-135deg);
    width: 25px;
    background-color: white;
    border-radius: 50%;
}

.btn-right {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
    height: 40px;
    margin-top: 206px;
    margin-left: 20px;
}

.btn-right:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.arrow-right {
    transform: rotate(45deg);
    width: 25px;
    background-color: white;
    border-radius: 50%;
}